---
layout: default
---

<!-- Left column: Albert's profile photo -->
<div id="profileid" class="col-sm-4 col-xs-12 text-center">

  <img
    src="{{ '/assets/Albertkabandaphoto.jpg' | relative_url }}"
    alt="Albert Kabanda"
    class="profile-photo">

  <div class="profile-links">
    <a class="btn custom-btn" href="{{ '/CV/' | relative_url }}">
      View CV
    </a>

    <a class="btn custom-btn"
       href="{{ '/assets/Albert_Kabanda_CV.pdf' | relative_url }}"
       download>
      Download CV
    </a>
  </div>

  <p>
  <a class="btn custom-btn"
     href="https://www.linkedin.com/in/ak20000/"
     target="_blank"
     rel="noopener noreferrer">
    LinkedIn
  </a>

  <a class="btn custom-btn"
     href="https://github.com/albertkabanda"
     target="_blank"
     rel="noopener noreferrer">
    GitHub
  </a>

  <a class="btn custom-btn"
     href="https://scholar.google.com/citations?user=fdWs72EAAAAJ&hl=en"
     target="_blank"
     rel="noopener noreferrer">
    Google Scholar
  </a>
</p>

</div>

<!-- Right column: homepage content -->
<div id="homeid" class="col-sm-8 col-xs-12">
  {{ content }}
</div>
